
/*M E N U */

.navbar { /*columna de menu*/
    background-color: #ebd4c4;
}

h1 span { /* color de la S*/
    font-family: 'Alegreya', serif;
    color:#e42d40;
}

h1 { /* color de la M*/
    font-family: 'Alegreya', serif;
    color: #142b3b;
    top: 0;
    margin: 0 12px;
    text-align: center; /*ubicacion del texto*/
}

.redes a { /* color de iconos de redes*/
    color: #142b3b;
}

#nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#nav ul li a { /* color de letras del menu*/
    color: #142b3b;
    text-decoration: none;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#nav a:hover{ /*cambia el color del menu al poner mouse encima*/
    color: #e42d40;
}

.redes a:hover{ /*cambia el color de las redes al poner mouse encima*/
    color: #e42d40;
}


html { /* efecto humo*/
    scroll-behavior: smooth;
}

/*I N I C I O*/

#inicio { /*color de fondo*/
    background-color: #142b3b;
    background-size: cover;
    background-position: center center;
    width:100%;
}

h2{ /*soy maria sol*/
    color: white;
}


#inicio .presentacion { /*POSICION Y TAMAÑO DE PRESENTACION */
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .presentacion .bienvenidos { /*BIENVENIDOS*/
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: #e42d40;
}

#inicio .presentacion h2 { /*PRESENTACION*/
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .presentacion h2 span { /*NOMBRE DE PRESENTACION*/
    font-size: 25px;
    color: #e42d40;
}

#inicio .presentacion .descripcion { /*DESCRIPCION*/
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#inicio .presentacion a{ /*BIENVENIDOS, DESCRIPCION,IR A PORTFOLIO*/
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.portfolio { /*BOTON DE PORTFOLIO*/
    border: 2px solid;
    border-radius: 50px;
    color: #e42d40;
}

.portfolio:hover{ /*cambia el color de las redes al poner mouse encima*/
    background-color: #c8d7e3;
}

#inicio .presentacion a{ /*COLOR DE IR A PORTFOLIO*/
    color: red;
}

/*SECCION S O B R E M I*/

#sobremi {
    width: 100%;
    margin: auto;
    padding: 150px 10px;
    background-color: #142b3b;
    display: flex; /*posicion de los elementos*/
}

#sobremi .contenedor-foto{ /* POSICION DE LA IMAGEN*/
    max-width: 400px; /*ancho*/
    margin-right: 100px;
}

#sobremi .contenedor-foto img{ /*POSICION DE LA IMAGEN*/
    padding: 5px;
    width: 100%;
    background-color: #ebd4c4;
}

#sobremi .sobremi { /*POSICION DE TITULO/ DESCRIPCION*/
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion { /* SOBRE MI TITULO*/
    font-size: 22px;
    text-transform: uppercase;
    color: #ebd4c4;
    text-decoration: underline;
    text-decoration-color: #e42d40;
    text-decoration-thickness: 4px;
}

#sobremi .sobremi h2{ /*hola soy maria sol correa*/
    color: white;
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span{ /*color y fuente del nombre*/
    font-family: 'Alegreya', serif;
    color: #e42d40;
}

#sobremi .sobremi h3{ /* DESARROLLADORA FULL STACK DEVELOPER JR.*/
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: white;
}

#sobremi .sobremi p{ /*PARRAFOS*/
    font-size: 14px; /*tamaño de fuente*/
    line-height: 25px; /*altura de fuente*/
    margin-bottom: 12px;
    color: white;
}

#sobremi .sobremi a{ /* SECCION DESCARGAR CV*/
    display: inline-block;
    text-decoration: none;
    color: #e42d40;
    border-radius: 30px;
    padding: 10px; /*distancia dentro del elemento*/
    border: 1px solid;
    margin-top: 30px; /*distancia hacia arriba*/
    transition: .5s;
}

#sobremi .sobremi a:hover{ /*color al apoyar mouse*/
    background-color:#c8d7e3;
}

#sobremi { /*FONDO*/
    background-color: #142b3b;
    background-size: cover;
    background-position: center center ;
    margin:0;
    
}

/*S E C C I O N  H A B I L I D A D E S*/

#experiencia { /*fondo y posicion*/
    background-color: #142b3b;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}

.contenido-habilidades .skill{ /*posicion de los elementos*/
    max-width: 600px;
    margin: 30px auto;
}

.contenido-habilidades .skill .info{/* separacion de elementos*/
    display: flex;
    justify-content: space-between;
}

.contenido-habilidades .skill .lista{ /* cubitos*/
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: white;
}

.contenido-habilidades .skill .barra{
    background-color: gray;
    height: 6px;
    margin: 10px 0;
}
/*AGREGAR ANIMACION CON JS*/
.contenido-habilidades .skill .barra .barra-progreso1{
    background-color: #e42d40;
    width: 40%;
    height: 6px;
    animation:progreso1 2s forwards;
}

.contenido-habilidades .skill .barra .barra-progreso2{
    background-color: #e42d40;
    width: 20%;
    height: 6px;
    animation:progreso2 2s forwards;
}

.contenido-habilidades .skill .barra .barra-progreso3{
    background-color: #e42d40;
    width: 10%;
    height: 6px;
    animation:progreso3 2s forwards;
}

.contenido-habilidades .skill .barra .barra-progreso4{
    background-color: #e42d40;
    width: 45%;
    height: 6px;
    animation:progreso4 2s forwards;
}
/* fin de js*/

.info p{
    color: white;
}

.porcentaje {
    color: white;
}

h3 {
    color:#e42d40 ;
}  

/*S E C C I O N  P R O Y E C T O S*/

#proyectos { /*ubicacion de los elementos*/
/*max-width: 1100px;*/
   padding: 100px 0;
   margin: auto;
   background-color: #142b3b;
}

.mis-proyectos .titulo-seccion{ /*titulo*/
    text-align: center; /*posicion del texto*/
    font-size: 22px; /*tamaño de fuente*/
    text-transform: uppercase; /*todo en mayuscula*/
    color: #ebd4c4;
    text-decoration: underline;/*subrayado*/
    text-decoration-color: #e42d40;
    text-transform-thickness: 5px;
}

 .mis-proyectos .fila { /*posicion de los elementos*/
    display: flex; /*alinea los elementos*/
    justify-content: space-between; /*distribuye el espacio entre y alrededor de los items*/
    margin: 30px 0;
}

.fila .proyecto{ /*tamaño y posicion de los proyectos*/
    max-width: 450px;
    border: 1px solid;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.mis-proyectos .fila .proyecto img{ /*opacidad de los proyectos*/
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

.mis-proyectos .fila .proyecto:hover img { /*efecto color de los proyectos*/
    filter: grayscale(0);
}

.mis-proyectos .fila .proyecto .info { /*animacion de titulo y descripcion*/
    position: absolute; /*imagen entera*/
    left: 0%;
    background-color: rgba(0, 0, 0, .8);
    color: #e42d40;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

.mis-proyectos .fila .proyecto:hover .info { /*animacion de titulo y descripcion*/
    opacity: 1;
    bottom: 0;
}

/*S E C C I O N  C O N T A C T O*/

#contacto {
    padding: 100px 15px;
    background-color: #142b3b;
}

#contacto .titulo-seccion{ /*TITULO*/
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #ebd4c4;
    text-decoration: underline;
    text-decoration-color: #e42d40;
    text-decoration-thickness: 5px ; /*grosor de la linea*/
}

#contacto .contenedor-form{ /*posicion de formulario*/
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea { /*Borde y color al dar click*/
    padding: 20px;
    border-radius: 20px; /*borde redondeado*/
    border: none;
    border: 1px solid #ebd4c4;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full { /*formulario en pantalla completa*/
    width: 100%;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer; /*manito*/
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

#contacto .btn-enviar:hover {
    background-color: #e42d40;
    color: #ebd4c4;
}

/*S E C C I O N  F O O T E R*/

footer { /*posicion de los elementos*/
    background-color: #ebd4c4;
    color: #142b3b;
    text-align: center;
    padding: 30px 0;
}

footer a{
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}